{% extends "base.html" %}
{% block content %}
    {{query.render() | safe}}
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <div class="alert alert-info" role="alert">Are you sure you want to delete this post permanently?</div>
    <form method="post">
        <div class="row">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <div class="col-md-5">
        <button type="submit" value="Yes" name="delete-post" class="btn btn-default">Delete</button>
        </div>
        <div class="col-md-5">
        <button type="submit" value="No" name="cancel-delete" class="btn btn-default">Cancel</button>
        </div>
        </div>
        </div>
    </form>
{% endblock %}