{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 post-title">
  <h2>New Post</h2>
  <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
  </div>
</div>
    <form method="post">
      <div class="row">
        <div class="col-md-12">
          <label>subject *</label>
          <input type="text" name="subject" value="{{subject}}">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <label>Content *</label>
          <textarea name="content">{{content}}</textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="submit" class="btn btn-default">Submit post</button>
          </div>
        </div>
      </div>
      {% if error %}
      <br>
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% else %}
      <br>
      {% endif %}
      *Required fields
    </form>
{% endblock %}
