<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <title>Multi-user Blog</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6"><a href="/blog" class="main-title">Multi-user Blog</a>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div class="post-title">Sign up</div class="post-title">
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        </div>
        </div>
        <form method="post">
        <div class="row">
        <div class="col-md-12">
         <label>Username *</label>
         </div>
         </div>
        <div class="row">
        <div class="col-md-2">
        <input type="text" name="username" value="{{username}}">
        </div>
        </div>
         {% if error_username %}
         <br>
         <div class="alert alert-danger" role="alert">{{error_username}}</div>
         {% endif %}
        <br>
        <div class="row">
        <div class="col-md-12">
         <label>Password *</label>
         </div>
         </div>
        <div class="row">
        <div class="col-md-12">
        <input type="password" name="password" value="">
        </div>
        </div>
         {% if error_password %}
         <br>
         <div class="alert alert-danger" role="alert">{{error_password}}</div>
         {% endif %}
         <br>
        <div class="row">
        <div class="col-md-12">
         <label>Password verify *</label>
         </div>
         </div>
        <div class="row">
        <div class="col-md-12">
        <input type="password" name="verify" value="">
        </div>
        </div>
         {% if error_verify %}
         <br>
         <div class="alert alert-danger" role="alert">{{error_verify}}</div>
         {% endif %}
        <br>
         <div class="row">
        <div class="col-md-12">
         <label>Email (Optional)</label>
         </div>
         </div>
        <div class="row">
        <div class="col-md-6">
        <input type="text" name="email" value="{{email}}">
        </div>
        </div>
         {% if error_email %}
         <br>
         <div class="alert alert-danger" role="alert">{{error_email}}</div>
         {% endif %}
         <br>
        <input type="submit" class="btn btn-default btn-xs">
        </form>
        <br>
        *Required fields
        </div>
  </div>
</body>
</html>

